:root {
  --spacing: 12px;
  --blueprint-navbar-height: 50px;
  --default-border-color: #293742;
  --default-border: 1px solid var(--default-border-color);
}

body {
  background: #182026;
}

.flotilla-app-container {
  margin-top: 50px;
  padding: calc(var(--spacing) * 2);
}

.flotilla-view-header-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: calc(var(--spacing) * 2);
}

.flotilla-card-header-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing);
}

.flotilla-card-header {
  text-transform: uppercase;
  font-weight: 700;
}

/**
 * Form
 */
.flotilla-form-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.flotilla-form-container > * {
  width: 100%;
  max-width: 600px;
}

/**
 * Attribute
 */
.flotilla-attributes-container {
  display: flex;
  flex-flow: column nowrap;
}

.flotilla-attributes-container .flotilla-attribute-container {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: var(--spacing);
}

.flotilla-attributes-container .flotilla-attribute-container:last-child {
  margin-bottom: 0;
}

.flotilla-attribute-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.flotilla-attribute-name {
  font-size: 0.85rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.flotilla-attribute-value {
  color: #adbecc;
  flex: 1;
  font-size: 0.85rem;
}

/**
 * Env Field Array
 */
.flotilla-env-field-array-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: calc(var(--spacing) * 2);
}

.flotilla-env-field-array-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.flotilla-env-field-array-item > .bp3-form-group {
  flex: 1;
  margin-right: var(--spacing);
  margin-bottom: 0;
}

/**
 * List Utils
 */
.flotilla-list-utils-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: var(--spacing);
}

.flotilla-list-utils-container > * {
  margin-right: calc(var(--spacing) / 2);
}

.flotilla-list-utils-container > *:last-child {
  margin-right: 0;
}

.flotilla-list-utils-container .bp3-form-group {
  flex: 1;
}

.flotilla-list-utils-container .bp3-input {
  width: 100%;
}

.flotilla-list-utils-container .bp3-button {
  transform: translateY(-7px);
}

.flotilla-list-filters-card {
  width: 360px;
}

.flotilla-list-filters-card > *,
.flotilla-list-filters-card .bp3-input {
  width: 100%;
}

/**
 * Table
 */
table {
  border: var(--default-border);
  width: 100%;
}

.flotilla-th-sortable {
  cursor: pointer;
}

.flotilla-th-sortable:hover,
.flotilla-th-sortable.active {
  background: #202b33;
}

.flotilla-th-sortable.active.active-asc::after {
  content: "▲";
  font-size: 0.6rem;
  margin-left: calc(var(--spacing) / 2);
}

.flotilla-th-sortable.active.active-desc::after {
  content: "▼";
  font-size: 0.6rem;
  margin-left: calc(var(--spacing) / 2);
}

/**
 * Sidebar View
 */
.flotilla-sidebar-view-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.flotilla-sidebar-view-container > .flotilla-sidebar-view-sidebar {
  flex: 1;
  min-width: 450px;
}

.flotilla-sidebar-view-container > .flotilla-sidebar-view-content {
  flex: 2;
  min-width: 720px;
}

@media screen and (max-width: 1230px) {
  .flotilla-sidebar-view-container > .flotilla-sidebar-view-sidebar {
    margin-bottom: var(--spacing);
  }
}

@media screen and (min-width: 1230px) {
  .flotilla-sidebar-view-container > .flotilla-sidebar-view-sidebar {
    margin-right: var(--spacing);
  }
}

/**
 * Logs
 */
.flotilla-logs-container {
  max-height: calc(
    100vh - var(--blueprint-navbar-height) - (var(--spacing) * 4) - 54px
  );
  overflow-y: scroll;
  padding: 0;
}

/**
 * Pre
 */
.flotilla-pre {
  opacity: 1;
  white-space: pre-wrap;
  margin-top: 0;
  margin-bottom: 0;
}

.flotilla-logs-container {
  overflow-y: scroll;
  background: #10161a;
  flex: 1;
  border: 1px solid #293742;
}

.flotilla-ansi,
.bp3-code-block,
.bp3-code {
  font-family: "Roboto Mono", "Courier New", Courier, monospace !important;
  font-size: 0.9rem;
  white-space: pre-wrap;
  word-break: break-all;
}

.flotilla-pre {
  background: transparent;
  border-radius: 0 !important;
  border: none !important;
  box-shadow: none !important;
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 0;
  opacity: 1;
  padding: 12px !important;
  white-space: pre-wrap;
}

/**
 * Blueprint overrides
 */
.bp3-input {
  height: 36px;
}
.bp3-form-group input,
.bp3-form-group textarea {
  width: 100%;
  border: 2px solid #293742;
}

.bp3-label {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
}

.bp3-card {
  background: transparent !important;
  border: 1px solid #293742;
}

.bp3-navbar.bp3-dark {
  background: #182026;
  box-shadow: none !important;
  border-bottom: 1px solid #293742;
}
