$black2: #262729;
$black3: #2f3339;
$black4: #404248;
$black5: #37393d;
$teal-muted: #b8cad6;
$teal: #8dabbf;
$teal-bright: #6daeda;
$gray: #ACB4B9;
$gray2: #667182;
$red: #e16973;
$green: #26d8c9;
$white: #d8d8d8;
