@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto_regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Code Pro';
  src: url('./fonts/source_code_pro.ttf') format('truetype');
}

@import '../../node_modules/react-select/dist/react-select.min.css';
@import '../../node_modules/flex-utils/css/flex-utils.min.css';
@import './colors.scss';
@import './variables.scss';
@import './mixins.scss';

// Components
@import './components/app-header.scss';
@import './components/breadcrumb.scss';
@import './components/button.scss';
@import './components/error-view.scss';
@import './components/form-components.scss';
@import './components/form-group.scss';
@import './components/loader.scss';
@import './components/modal.scss';
@import './components/run-container.scss';
@import './components/section.scss';
@import './components/server-table.scss';
@import './components/table.scss';
@import './components/tabs.scss';
@import './components/tag.scss';
@import './components/run-status.scss';

// Utils
@import './utils/base.scss';
@import './utils/typography.scss';
@import './utils/utils.scss';
@import './utils/structure.scss';
@import './utils/state.scss';

