{
  "extends": "react-app",
  "rules": {
    "semi": 0,
    "quotes": 0,
    "comma-dangle": 0,
    "no-console": 0,
    "no-else-return": 0,
    "arrow-body-style": 0,
    "no-underscore-dangle": 0,
    "no-extra-boolean-cast": 0,
    "jsx-a11y/label-has-for": 0,
    "react/prop-types": 0,
    "no-param-reassign": 0
  },
  "env": {
    "browser": true
  }
}
