$black_0: #23292e;
$black_1: #282e34;
$black_2: #2d343a;
$black_3: #323940;
$black_4: #373f46;
$gray_0: #626f7a;
$gray_1: #798996;
$gray_2: #91a3b3;
$gray_3: #adbecc;
$gray_4: #d0d9e1;
$light_gray_0: #d0d9e1;
$light_gray_1: #dae1e7;
$light_gray_2: #e4e9ee;
$light_gray_3: #eff2f4;
$light_gray_4: #f9fafb;
$blue_0: #58a7f3;
$blue_1: #6daef4;
$blue_2: #80b6f5;
$blue_3: #90bef6;
$blue_4: #a0c5f7;
$green_0: #4acccf;
$green_1: #4ed5d8;
$green_2: #51dee1;
$green_3: #55e7ea;
$green_4: #59f0f4;
$red_0: #d76262;
$red_1: #d97575;
$red_2: #dc8787;
$red_3: #df9797;
$red_4: #e3a7a7;
$yellow_0: #e3ca00;
$yellow_1: #ecd200;
$yellow_2: #f6db00;
$yellow_3: #ffe315;
$yellow_4: #ffec92;
