a {
  text-decoration: none;
  color: $color-primary;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.875rem;
}
h6 {
  font-size: 0.75rem;
}

a.unstyled-link {
  color: $default-font-color !important;
  &:hover {
    color: $color-primary !important;
  }
}

pre,
.code {
  font-family: "Source Code Pro", "Roboto Mono", monospace;
  color: $gray_3;
  font-size: 0.9rem;
}
